<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="simpleDAO" class="lesson1.dao.SimpleDAOImpl"/>-->

<!--    <bean id="simpleService" class="lesson1.services.SimpleServiceImpl">-->
<!--        <constructor-arg name="dao" ref="simpleDAO"/>-->
<!--    </bean>-->

</beans>